# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment files
.env
.env.local
.env.*.local

# Build and packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# IDE/editor
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage artifacts
.coverage
.coverage.*
htmlcov/
coverage.xml

# Runtime logs
*.log

# Local project artifacts
storage/runs/**
storage/uploads/**
!storage/runs/.gitkeep
!storage/uploads/.gitkeep

# Allure outputs
allure-results/
allure-report/




# Frontend

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Frontend/node_modules
Frontend/.pnp
Frontend/.pnp.*
Frontend/.yarn/*
Frontend/.yarn/patches
Frontend/.yarn/plugins
Frontend/.yarn/releases
Frontend/.yarn/versions

# testing
Frontend/coverage

# next.js
Frontend/.next/
Frontend/out/

# production
Frontend/build

# misc
Frontend/.DS_Store
Frontend/*.pem

# debug
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
Frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
Frontend/.env*

# vercel
Frontend/.vercel

# typescript
Frontend/*.tsbuildinfo
Frontend/next-env.d.ts
